.square{
    border-radius: 0px;
}

.jumbotron{
    background-image: linear-gradient(to right, #007bff,#000);
    color: #fff;
    height: 300px;
    text-align: center;
}

.white{
    color : #fff
}

.button{
    background-color: blue;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border :none;
    width :100%
}